.footer{
    display: flex;
    justify-content: space-between;
    text-align: center;
    align-items: center;
    justify-content: center;
    color: rgb(28, 28, 28);
    font-size: 2rem;
    line-height: 1.2;
    font-weight: 500;
    margin: auto;
}


.footerr__img{
    height: 100px;
    width: 100px;
}